@using System.Security.Claims;
@using BoilerPlate.Business.DbServices;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<BoilerPlate.Entity.Entities.Concrete.Identity.AppUser> userManager
@inject AppUserService userService

@{
    string name = string.Empty;
    string surname = string.Empty;
    string role = string.Empty;
    if (User.Identity.IsAuthenticated)
    {
        var user = await userManager.GetUserAsync(User);
        name = user.FirstName;
        surname = user.LastName;
        var result = await userService.GetUserRoleAsync(user.Id);
        role = result.Data;
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Admin Paneli</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/admin/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <link rel="stylesheet" href="~/admin/assets/css/components.css">
    <link rel="stylesheet" href="~/admin/assets/bundles/jqvmap/dist/jqvmap.min.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/admin/assets/css/custom.css">
    <link rel="stylesheet" href="~/admin/assets/css/customstyles.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/admin/assets/img/favicon.ico' />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <script>
        tailwind.config = {
            prefix: "t-",
            important: true,
            corePlugins: {
                preflight: false,
            }
        }
    </script>
    @await RenderSectionAsync("Styles", required: false)

</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i
                                    data-feather="menu"></i></a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right align-items-center">
                    <li>
                        <a href="~/logout" id="btn-logout" class="nav-link nav-link-lg text-danger">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                            <i data-feather="maximize"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-user">
                        <div class="sidebar-user-picture">
                            <img alt="image" src="~/admin/assets/img/user.png">
                        </div>
                        <div class="sidebar-user-details">
                            <div class="user-name">@name @surname</div>
                            <div class="user-role">@role</div>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">MAIN</li>
                        <li>
                            <a class="nav-link" href="~/">
                                <i class="fas fa-home"></i><span>
                                    Ana Sayfa
                                </span>
                            </a>
                        </li>
                        @if (role.Equals("Admin"))
                        {
                            <li class="dropdown">
                                <a href="#" class="menu-toggle nav-link has-dropdown">
                                    <i class="fas fa-user"></i><span>Kullanıcı Ayarları</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/appuser/add">Kullanıcı Ekle</a></li>
                                    <li><a class="nav-link" href="/appuser"">Kullanıcı Listesi</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="menu-toggle nav-link has-dropdown">
                                    <i class="fas fa-lock"></i><span>Rol Ayarları</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/approle/add">Rol Ekle</a></li>
                                    <li><a class="nav-link" href="/approle">Rol Listesi</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    @RenderBody()
                </section>
            </div>

        </div>
    </div>
    <script>
        var environment = '@Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")';
        function getPath(path) {
            if (environment === 'production') {
                return `/core${path}`
            }
            return path
        }
    </script>
    <!-- General JS Scripts -->
    <script src="~/admin/assets/js/app.min.js"></script>
    <!-- JS Libraries -->
    <script src="~/admin/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="~/admin/assets/bundles/amcharts4/core.js"></script>
    <script src="~/admin/assets/bundles/amcharts4/charts.js"></script>
    <script src="~/admin/assets/bundles/amcharts4/animated.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/admin/assets/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="~/admin/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/admin/assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/admin/scripts/common/forms/utils.js"></script>
    <script src="~/admin/scripts/common/forms/form.js"></script>
    <script src="~/admin/scripts/common/delete.js"></script>
    <script src="~/admin/scripts/common/validate.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
