@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Admin Panel Giriş Sayfası</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="~/admin/assets/css/app.min.css">
  <link rel="stylesheet" href="~/admin/assets/bundles/bootstrap-social/bootstrap-social.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="~/admin/assets/css/style.css">
  <link rel="stylesheet" href="~/admin/assets/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="~/admin/assets/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='~/admin/assets/img/favicon.ico' />
  <style>
    label.is-invalid {
      color: red;
    }
  </style>
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header d-flex flex-column justify-content-center align-items-center gap-2">

                <h4>Admin Panel Giriş Sayfası</h4>
              </div>
              <div class="card-body">
                <form id="login-form" class="needs-validation">
                  <div class="form-group">
                    <label for="email">E-Posta</label>
                    <input id="email" type="email" class="form-control" name="Email" tabindex="1" required autofocus>
                  </div>
                  <div class="form-group">
                    <div class="d-block">
                      <label for="password" class="control-label">Şifre</label>
                    </div>
                    <input id="password" type="password" class="form-control" name="Password" tabindex="2" required>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Giriş Yap
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- General JS Scripts -->
  <script>
    var environment = '@Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")';
    function getPath(path) {
      if (environment === 'production') {
        return `/core${path}`
      }
      return path
    }
  </script>
  <script src="~/admin/assets/js/app.min.js"></script>
  <!-- JS Libraries -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="~/admin/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="~/admin/assets/js/custom.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
    integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="~/admin/scripts/common/forms/utils.js"></script>
  <script src="~/admin/scripts/common/forms/form.js"></script>
  <script src="~/admin/scripts/common/delete.js"></script>
  <script src="~/admin/scripts/common/validate.js"></script>
  <script src="~/admin/scripts/auth/login.js"></script>
</body>

</html>
