
@section Scripts {
    <script src="~/admin/scripts/role/add.js"></script>
}

<form id="form-submit">
    <div class="row pt-2">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h2>Rol Ekle</h2>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Rol Adı</label>
                        <input name="RoleName" type="text" class="form-control">
                    </div>
                </div>
                <div class="card-footer text-left">
                    <button class="btn btn-lg btn-primary" type="submit">Ekle</button>
                </div>
            </div>
        </div>
    </div>
</form>